html, body {
	height: 100%;
	margin: 0;
}

#root {
	all: inherit;
}

.app-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
}

.outlet {
	height: 100%;
}

.no-access-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

.no-access-text {
	text-align: center;
	padding: 20px;
	font-size: 1.5em;
}
