<div id="{{_id}}" class="app-body">
{{!--	{{#loggedIn}}--}}
		<router-outlet class="outlet"></router-outlet>
{{!--	{{else}}--}}
{{!--		<div class="no-access-wrap">--}}
{{!--			<div class="no-access-text">Нет доступа</div>--}}
{{!--		</div>--}}
{{!--	{{/loggedIn}}--}}
</div>


