<div id="{{_id}}" class="admin-panel">
	<div class="admin-panel__chat-list">
		<div class="chat-list-header">
			<h2 class="chat-list-header__title">Чаты</h2>
		</div>
		<ul class="chat-list">
			<li class="chat-list__item">
				<a href="#" class="list-item__link">
					Алиса
				</a>
			</li>
			<li class="chat-list__item">
				<a href="#" class="list-item__link">
					Алиса
				</a>
			</li>
			<li class="chat-list__item">
				<a href="#" class="list-item__link">
					Алиса
				</a>
			</li>
		</ul>
	</div>
	<div id="current-chat" class="admin-panel__current-chat">
		current chat
	</div>
</div>
